<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Application Form</title>
    <link rel="stylesheet" href="../public/css/application-form.css">
</head>

<body>
    <div class="container">
        <div class="container-left">
            <img src="../public/image/logo.png" alt="logo">
        </div>
        <div class="container-right">
            <form action="">
                <h1>Student Application form</h1>

                <div class="row">
                    <div class="column">
                        <label for="firstName">First Name*</label>
                        <input type="text" id="firstName" name="firstName">
                    </div>
                    <div class="column">
                        <label for="lastName">Last Name*</label>
                        <input type="text" id="lastName" name="lastName">
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <label for="course">Course</label>
                        <input type="text" id="Course" name="Course">
                    </div>
                    <div class="column">
                        <label for="lastName">Entry Scheme</label>
                        <input type="text" id="EntrySheme" name="EntrySheme">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>